/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}


table#portfolio {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: collapse;
  border-spacing: 10;
}

table#sell_form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: collapse;
  border-spacing: 10;
}

th {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;

}

td {
  padding: 0.75rem;
  text-align: center;
  border: 1px solid #ccc;
  font-family: sans-serif;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

#middle .nav
{
    /* center navigation pills */
    display: inline-block;
}
